.nav {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: flex-start;
	padding: 2em 3em;
	background-color: @primary;
	color: @txt-clr;

	a {
		text-align: center;
		padding: inherit;
		font-size: 4rem;
		outline: none;
			}

			@breakpoints[phone] 
			{
				flex-direction: column;
			}
	&:hover {
		transition: ease 0.8s;
		box-shadow: 0.3em 0.78em black;
	}
}
