.footer {
	background: @link;
	display: flex;
	flex-direction: column;
	padding: 6em;
	height: 1000px;
	width: 100%;

	#copyright {
		text-align: center;
		padding: inherit;
	}

	form {
		label {
			font-size: 2rem;
			padding: 1.5em;
		}

		input[type=text] {
			background: @link;
			outline: none;
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			border: none;
			border-bottom: 2px solid black;
        }
        
        input[type=radio] {
            
        }
	}
}
