.footer {
	background: var(--primary-color);
	display: flex;
	padding: 7em;
	height: 1vh;
    width: 100%;
    
	.contact_us {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
}
