.buttonize {
    background-color: inherit;
    border: 3px @link;
    color: inherit;
    padding: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
}

.center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*animation mixins -- Shoutout to Animista's @ANATAYLOR*/
.heartbeat() {
    -webkit-animation: heartbeat 1.3s ease-in-out infinite alternate-reverse both;
	        animation: heartbeat 1.3s ease-in-out infinite alternate-reverse both;
}

.shadowize {
    -webkit-animation: shadow-drop-center 1.5s ease-in-out 4 both;
	        animation: shadow-drop-center 1.5s ease-in-out 4 both;
}