.nav {
    flex-direction: row;
    transition: ease 0.8s;
    font-family: @family-primary;
    width: 100%;
    display: flex;
    align-items: baseline;
    background-color: @primary;
    color: @text-color;
    box-shadow: 5px 5px 5px #1d1c1c;

    @media @desktop {
        flex-direction: row;
    }

    @media @phone {
        flex-direction: column;
    }
    .button {
        .buttonize();
        .shadowize();
    }

    a {
        .buttonize();
        transition: ease 0.3s;
        text-align: center;
        padding: inherit;
        font-size: 2rem;
		outline: none;
		padding: 1em;

        &:hover {
			.heartbeat();
        }
    }

    &:hover {
        transition: ease 0.8s;
        box-shadow: 0.3em 0.78em black;
    }
}