.nav {
	width: 100%;
	display: flex;
	align-items: flex-start;
	padding: 2em 3em;
	background-color: @primary;
	color: @text-color;

	a {
		text-align: center;
		padding: inherit;
		font-size: 4rem;
		outline: none;
			}

		
			
	&:hover {
		transition: ease 0.8s;
		box-shadow: 0.3em 0.78em black;
	}
}
